@font-face {
    font-family: regularPoppins;
    src: url(../fonts/poppins-regular-webfont.woff);
}

@font-face {
    font-family: mediumPoppins;
    src: url(../fonts/poppins-medium-webfont.woff);
}

:root {
    /* main colors */
    --color-primary : #c90000;
    --color-secondry : #ffc300;
    --color-accent-gray : #504f4f;
    --color-accent-gray-hard : #323232;
    
    /* neturals */
    --color-white : #fff;
    --color-black : #000;
    --color-secondry-soft : #fff6a3;
    --color-accent-gray2 : #7d7c7c;
    --color-accent-gray3 : #dbdbdbb6 ;
    --color-accent-gray4 : #f5f5f594;
    --color-accent-gray5 : #f1f1f1;
    --color-accent-gray6 : #fffde6;

    /* effects */
    --textshadow : #fdbf34 -2px 1px 3px;
    --box-shadow :0px 1px 16px #e3e3ff;
    --box-shadow-soft :#0000000e;

    /* fonts */
    --font-regular : regularPoppins;
    --font-medium : mediumPoppins;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    font-family: var(--font-regular);
    font-size: 14px;
    user-select: none;
}

a{
    color: var(--color-black);
    text-transform: capitalize;
}

button {
    background-color: transparent;
    cursor: pointer;
    text-transform: capitalize;
}

input , button {
    border: none;
}